{% extends 'base.html' %}
{% block content %}
{% load static %}

		<!--welcome-hero start -->
		<section id="home" class="welcome-hero">
			<div class="container">
				<div class="welcome-hero-txt">
					<h2>we ensure the stability and integrity of the financial system,<br> protecting both customers and the broader economy."</h2>
					<p>
 						We are built on a foundation of reliability, transparency, and ethical conduct.					</p>
				</div>
			</div>

		</section><!--/.welcome-hero-->
		<!--welcome-hero end -->

<!--		&lt;!&ndash;list-topics start &ndash;&gt;-->
<!--		<section id="list-topics" class="list-topics">-->
<!--			<div class="container">-->
<!--				<div class="list-topics-content">-->
<!--					<ul>-->
<!--						<li>-->
<!--							<div class="single-list-topics-content">-->
<!--								<div class="single-list-topics-icon">-->
<!--									<i class="flaticon-restaurant"></i>-->
<!--								</div>-->
<!--								<h2><a href="#">Do It Yourself</a></h2>-->
<!--								<p>150 listings</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="single-list-topics-content">-->
<!--								<div class="single-list-topics-icon">-->
<!--									<i class="flaticon-travel"></i>-->
<!--								</div>-->
<!--								<h2><a href="#">Pay</a></h2>-->
<!--								<i><img src="{% static 'images/icons/self-services-icon.svg' %}"></i>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--								<div>-->
<!--									<i><img src="{% static 'images/icons/self-services-icon.svg' %}"></i>-->
<!--								</div>-->

<!--							<div class="single-list-topics-content">-->
<!--								<h2><a href="#">Invest</a></h2>-->
<!--								<p>185 listings</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="single-list-topics-content">-->
<!--								<div class="single-list-topics-icon">-->
<!--									<i class=""></i>-->
<!--								</div>-->
<!--								<h2><a href="#">Borrow</a></h2>-->
<!--								<p>200 listings</p>-->
<!--							</div>-->
<!--						</li>-->
<!--						<li>-->
<!--							<div class="single-list-topics-content">-->

<!--									<i><img src="{% static 'images/icons/self-services-icon.svg' %}"></i>-->

<!--								<h2><a href="#">Insure</a></h2>-->
<!--								<p>120 listings</p>-->
<!--							</div>-->
<!--						</li>-->
<!--					</ul>-->
<!--				</div>-->
<!--			</div>&lt;!&ndash;/.container&ndash;&gt;-->

<!--		</section>&lt;!&ndash;/.list-topics&ndash;&gt;-->
<!--		&lt;!&ndash;list-topics end&ndash;&gt;-->

		<!--works start -->
		<section id="works" class="works">
			<div class="container">
				<div class="section-header " >
					<h2 style="margin-top:35px;">Our Services</h2>
					<p>Learn More about our services</p>
				</div><!--/.section-header-->
				<div class="works-content">
					<div class="row">
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how">
<!--									<i class="flaticon-lightbulb-idea"></i>-->
								</div>
								<h2><a href="#">Banking Tools</a></h2>
								<p>
									Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua. 
								</p>
								<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
									read more
								</button>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how">
<!--									<i class="flaticon-networking"></i>-->
								</div>
								<h2><a href="#">Rates<span> & Changes</span></a></h2>
								<p>
									Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua. 
								</p>
								<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
									read more
								</button>
							</div>
						</div>
						<div class="col-md-4 col-sm-6">
							<div class="single-how-works">
								<div class="single-how">
<!--									<i class="flaticon-location-on-road"></i>-->
								</div>
								<h2><a href="#">Need<span> Assistance</span></a></h2>
								<p>
									Lorem ipsum dolor sit amet, consecte adipisicing elit, sed do eiusmod tempor incididunt ut laboremagna aliqua. 
								</p>
								<button class="welcome-hero-btn how-work-btn" onclick="window.location.href='#'">
									read more
								</button>
							</div>
						</div>
					</div>
				</div>
			</div><!--/.container-->
		
		</section><!--/.works-->
		<!--works end -->

		<!-- statistics strat -->
		<section id="statistics"  class="statistics">
			<div class="container">
				<div class="statistics-counter"> 
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">90 </div> <span>K+</span>
							</div><!--/.statistics-content-->
							<h3>listings</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">40</div> <span>k+</span>
							</div><!--/.statistics-content-->
							<h3>listing categories</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">65</div> <span>k+</span>
							</div><!--/.statistics-content-->
							<h3>visitors</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-content">
								<div class="counter">50</div> <span>k+</span>
							</div><!--/.statistics-content-->
							<h3>happy clients</h3>
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.counter-->	
		<!-- statistics end -->

		<!--blog start -->
		<section id="blog" class="blog" >
			<div class="container">
				<div class="section-header">
					<h2>news and articles</h2>
					<p>Always upto date with our latest News and Articles </p>
				</div><!--/.section-header-->
				<div class="blog-content">
					<div class="row">
						{% for blog in blogs %}
						<div class="col-md-4 col-sm-6">
							<div class="single-blog-item">
								<div class="single-blog-item-img">
									<img style="height:230px;" src="{{blog.image.url}}" alt="blog image">
								</div>
								<div class="single-blog-item-txt" style="height:180px;">
									<h2><a href="#">{{blog.name}}</a></h2>
									<p>{{blog.decsription|truncatewords:10}}</p>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div><!--/.container-->
			
		</section><!--/.blog-->
		<!--blog end -->

{% endblock %}
